.container {
  width: 50%;
  margin: 0 auto;
}

.form-group {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.form-control {
  flex-grow: 1;
  margin-right: 0.5rem;
}
#success-message, #failure-message {
  display: none;
  text-align: center;
  margin-top: 1rem;
}
